@import url(./univers.css);

.mainContent{
    /* 凝胶布局 */
    width: 1000px;
    height: 800px;
    margin: 400px auto 0 auto;

    /* 窗口样式 */
    border-radius: 10px;
    
    position: static;

    font-family:Impact, '黑体', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    line-height: 1;
}

.content_1{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;

    border-width: 3px;
    border-radius: 10px;
    border-left-style: solid;
    border-top-style: solid;
    border-color: rgb(213, 213, 213);

    float: left;

    background-color: rgb(255, 255, 255);
}
.content_1 img{
    width: 500px;
    height: 400px;
}

.content_2{
    width: 350px;
    height: 200px;
    margin-top: 100px;
    margin-right: 50px;

    border-width: 3px;
    border-radius: 10px;
    border-right-style: solid;
    border-top-style: solid;
    border-color: rgb(213, 213, 213);

    float: right;

    /* background-color: rgb(255, 255, 255); */
    background-image: url(../Image/主页1.jpg);
    background-size: 350px 200px;
}
.content_2_1{
    width: 350px;
    height: 200px;
    background-color: rgba(73, 73, 73, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.content_2_1_1{
    width: 220px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color:white
}

.content_3{
    width: 350px;
    height: 150px;
    margin-top: 50px;
    margin-right: 50px;

    border-width: 3px;
    border-radius: 10px;
    border-right-style: solid;
    border-color: rgb(213, 213, 213);

    float: right;

    background-image: url(../Image/主页2.jpg);
    background-size: 350px 150px;
}
.content_3_1{
    width: 350px;
    height: 150px;
    background-color: rgba(73, 73, 73, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.content_3_1_1{
    width: 220px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color:white
}

.content_4{
    width: 500px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;

    border-width: 3px;
    border-radius: 10px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: rgb(213, 213, 213);

    float: left;

    background-image: url(../Image/主页3.jpg);
    background-size: 500px 150px;
}
.content_4_1{
    width: 500px;
    height: 150px;
    background-color: rgba(73, 73, 73, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.content_4_1_1{
    width: 250px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color:white
}


.content_5{
    width: 350px;
    height: 150px;
    margin-top: 50px;
    margin-right: 50px;

    border-width: 3px;
    border-radius: 10px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: rgb(213, 213, 213);

    float: right;

    background-image: url(../Image/主页5.jpg);
    background-size: 350px 150px;
}
.content_5_1{
    width: 350px;
    height: 150px;
    background-color: rgba(73, 73, 73, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.content_5_1_1{
    width: 220px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color:white
}
